body{
    background-color: rgb(32, 32, 32);
}

body,div{
    display: flex;
    flex: 1;
}

#degrade {
    background: linear-gradient(#FFFFFF, #ddfcba);
}

input[required] + span::after{
    content: "*";
    color: red;
    padding-left: 0.2em;
}

.espace{
    flex-direction: 1em;
}

.colonne{
    flex-direction: column;
}

.centre{
    justify-content: center;
    align-items: center;
}

.image{
    flex: 0.5;
}

.titre{
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: 1em;
}

label{
    display:inline-block;
    width:8em;
    text-align:right;
}

input{
    margin-left: 3em;
}

.checkInput{
    padding-left: 0.5em;
}
