/********* Global **********/

body {
    min-height: 100%;
    background: var(--FondPage);
}

div,
header,
footer,
body,
nav,
section,
form {
    display: flex;
    flex: 1;
    justify-content: center;
}

img {
    width: 100%;
}

.colonne,
form {
    flex-direction: column;
}

legend {
    color: var(--CouleurTexte);
}

.centre {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.espaceHor {
    flex: none;
    height: 1em;
}

.erreur {
    text-align: center;
    padding: 0.5em;
    color: var(--Rouge);
    text-shadow: 0.1em 0.1em 0.1em 0.1em var(--CouleurTexte);
}

.grande,
section {
    flex: 5;
}

.demi {
    flex: 0.5;
}

.mini {
    flex: 0.2;
}

.double {
    flex: 2;
}

.triple {
    flex: 3;
}

.info {
    margin: 0.3em;
}


/******* Form ********/

label {
    color: var(--CouleurTexte);
    text-align: center;
}

.centerItem {
    align-items: center;
}

a {
    color: var(--CouleurTexte);
    text-decoration: none
}


/******* Boutons ********/

.bouton {
    background-color: Transparent;
    background-repeat: no-repeat;
    border-radius: 1em;
    border: 2px solid var(--BordureBouton);
    cursor: pointer;
    padding: 0.5em 1em;
    color: var(--CouleurTexte);
    transition: 0.2s;
}

.bouton:hover {
    border: 2px solid var(--CouleurTexte);
    color: var(--BordureBouton);
}

button:disabled {
    border: solid var(--CouleurOmbre) 2px;
}


/********* input & Select *********/

input,
textarea,
select,
.case {
    border: 1px solid var(--BordureBouton);
    background-color: Transparent;
    padding: 0.5em 1em;
    color: var(--CouleurTexte);
}

textarea {
    height: 25vh;
}

.titreColonne {
    border: 2px solid var(--CouleurTexte);
    color: var(--BordureBouton);
    font-size: 1.2em;
}

input:focus {
    background-color: #aaa;
    color: black;
}

select option {
    background-color: var(--FondPage);
    border: 1px solid var(--BordureBouton);
    color: var(--CouleurTexte);
}

select option::selection {
    background-color: red;
}

.absolu {
    position: absolute;
    top: 5em;
    left: 5em;
}

.relatif {
    position: relative;
}

.oeil {
    position: absolute;
    left: 32vw;
    top: 4vh;
}

.rouge {
    color: red;
}

.vert {
    color: #3db651;
}

.incorrect {
    border: red solid 3px;
}


/******** Header ********/

header,
footer {
    box-shadow: -0.1em 0.1em 0.2em 0.2em var(--CouleurOmbre);
}

header {
    margin-bottom: 1em;
}

.logo,
.connection {
    flex: 0.5;
}

.titre {
    flex: 2;
    color: var(--CouleurTexte);
}


/******** Footer ******/

footer {
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 99%;
    bottom: 0.2em;
    color: var(--CouleurTexte);
    background-color: var(--FondPage);
}

.container {
    padding-bottom: 3.5em;
}


/****************** Provisoire **********************/

.blanc {
    color: var(--CouleurTexte);
    font-size: 1.2em;
}


/************* Changement style input range pour Chrome ***********/

input[type=range] {
    width: 100%;
    margin-top: 1em;
    background-color: transparent;
    -webkit-appearance: none;
    /** permet d'enlever le mode par défaut des inputs range **/
}


/** permet de changer le style du petit rond à l'interieur du slider **/

input[type=range]::-webkit-slider-thumb {
    margin-top: -0.5em;
    width: 1.5em;
    height: 1.5em;
    background: #09881a;
    border: 2px solid #000000;
    border-radius: 0.5em;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: var(--BordureBouton);
    border: 0.2em solid #010101;
    border-radius: 0.4em;
    width: 100%;
    height: 0.8em;
    cursor: pointer;
}


/************* Changement style input range pour Firefox ***********/

input[type=range]::-moz-range-track {
    background: var(--BordureBouton);
    border: 0.2em solid #010101;
    border-radius: 0.4em;
    width: 100%;
    height: 0.8em;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    margin-top: -0.5em;
    width: 1.5em;
    height: 1.5em;
    background: #09881a;
    border: 1px solid #000000;
    border-radius: 0.5em;
    cursor: pointer;
}


/************* Changement style input range pour IE ***********/

input[type=range]::-ms-track {
    background: var(--BordureBouton);
    border-color: transparent;
    width: 100%;
    height: 0.8em;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #132e12;
    border: 0.2px solid #010101;
    border-radius: 22.6px;
}

input[type=range]::-ms-fill-upper {
    background: rgba(48, 120, 46, 0.6);
    border: 0.2px solid #010101;
    border-radius: 22.6px;
}

input[type=range]::-ms-thumb {
    width: 1.5em;
    height: 1.5em;
    background: #09881a;
    border: 1px solid #000000;
    border-radius: 0.5em;
    cursor: pointer;
}