div, a{
    display: flex;
    flex: 1;
}
.colonne{
    flex-direction: column;
}

.age{
    background-color: rgb(67, 194, 50);
}

.espace{
    flex: 1;
}

.case{
    flex: 1;
    background-color: rgb(27, 58, 194);
}

.casePersonne{
    flex: 1;
    background-color: firebrick;
}

.bouton{
    background-color: rgb(96, 212, 233);
    border: 1px solid black;
    border-radius: 5px;
}

.information{
    margin-top: 1em;
}

.article{
    padding-left: 1em;
    background-color: rgb(192, 233, 240);
    border: 1px solid black;
    border-radius: 5px;
}

.titreAttribut{
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    justify-content: center;
}

.titreInformation{
    color: white;
    font-size: 1.2em;
    justify-content: center;
    text-align: center;
}

.texteInformation{
    color: green;
    justify-content: center;
}