/************************************************************* PAGE **************************************************/

body html {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-image: url("sky.jpg");
    background-size: 100%;
    padding-top: 2em;
    padding-left: 3em;
    padding-bottom: 2em;
    height: 10em;
}

footer {
    display: flex;
    background-image: url("pp.jpg");
    background-size: 100%;
    height: 3em;
}

img {
    width: 100%;
}

div {
    display: flex;
    flex: 1;
}


/************************************************************ HEADER ***********************************************/

.logo {
    flex: 2
}

.titrePage {
    flex: 5;
    justify-content: center;
    align-items: center;
    font-size: 3.2em;
    font-family: 'Times New Roman', Times, serif;
}


/************************************************************* PAGE *************************************************/

.largePage {
    background-image: url(bg.jpg);
    background-size: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    margin-top: 6.5em;
}


/************************************************************* PARTIE 1 *********************************************/

.carreBlanc {
    flex: 3;
    flex-direction: column;
    justify-content: center;
}

.fondImage1 {
    flex: 3;
    background-image: url("01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titreCarreBlanc {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    justify-content: center;
    background-color: white;
}

.texteCarreBlanc {
    padding: 1.8em 1.5em 1.5em 1.5em;
    justify-content: center;
    background-color: white;
}


/*********************************************************** PARTIE 2 ***********************************************/

.fondImage2 {
    flex: 3;
    background-image: url("02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.espace {
    margin-top: 6.5em;
}


/*********************************************************** PARTIE 3 ************************************************/

.titreArticle3 {
    font-size: 1.5em;
    font-weight: bold;
    justify-content: center;
}

.contenu {
    margin: 1.3em;
}

.titreImageMini {
    font-size: 1.2em;
    font-weight: bold;
    justify-content: center;
}

.fondImage3 {
    background-image: url("08.jpg");
}

.fondImage4 {
    background-image: url("07.jpg");
}

.fondImage5 {
    background-image: url("06.jpg");
}

.fondImage6 {
    background-image: url("05.jpg");
}

.fondImage7 {
    background-image: url("04.jpg");
}

.fondImage8 {
    background-image: url("03.jpg");
}

.fondImage9 {
    background-image: url("02.jpg");
}

.fondImage10 {
    background-image: url("01.jpg");
}

.fondGlobal {
    flex: 3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1.3em 1.3em 1.3em 1.3em;
}


/*********************************************************** FOOTER **************************************************/

.titreFooter {
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}