:root{
    --couleurHF: linear-gradient(to right,#292727, #f0e9e9, #292727);
    --couleurNav: #34c4a7;
    --ajouter: #43e03d;
    --detail: #e2db79;
    --modifier: #4cb9e4;
    --supprimer: #ce3838;
}

html, body{
    margin: 0;
    padding: 0;
}

body,header,footer,nav,div,a,input{
    display: flex;
    flex: 1;
}

header,footer{
    background: var(--couleurHF);
}

footer{
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    position: static;
    bottom: 0;
    width: 100%;
}

nav{
    background: var(--couleurNav);
    padding: 1em;
}

a{
    text-decoration: none;
    color: var(--lien)
}

.flex{
    flex: 2;
}

.logo{
    margin: 1em;
}
img{
    width: 100%;
}

.colonne{
    flex-direction: column;
}

.margin{
    margin: 4em;
}

.marginLight{
    margin: 1em;
}

.marginMini{
    margin: 0.3em;
}

.centre{
    justify-content: center;
    align-items: center;
}

.espace{
    flex: 1;
}
.espaceLight{
    flex: 0.5;
}

.size{
    font-size: 1.2em;
    font-weight: bold;
}

.marginBouton{
    margin: 0em 1.5em;
}

.titre{
    flex: 6;
    justify-content: center;
    align-self: center;
    font-size: 2.5em;
    font-weight: bolder;
}

.titreDescriptif{
    font-size: 1.5em;
}

.ajouter{
    border: 2px solid #066606;
    border-radius: 1.2em;
    padding:0.7em 1em;
    background: var(--ajouter);
    cursor:pointer;
}

.libelle{
    background:linear-gradient(to bottom, #5c5e5c 5%, #e7ebe6 100%);
    background-color:#979e93;
    border-radius: 1.2em;
    border:1px solid #979e93;
    padding:0.7em 1em;
    text-shadow:0px 1px 0px #979e93;
    color:black;
    flex : 2;
}

.details{
    border: 2px solid #e7c60a;
    border-radius: 1.2em;
    padding:0.7em 1em;
    background: var(--detail); 
    cursor:pointer;
    align-items: center;
}

.modifier{
    border: 2px solid #2a41c4;
    border-radius: 1.2em;
    padding:0.7em 1em;
    background: var(--modifier); 
    cursor:pointer;
    align-items: center;
}

.supprimer{
    border: 2px solid #f10606;
    border-radius: 1.2em;
    padding:0.7em 1em;
    background: var(--supprimer); 
    cursor:pointer;
    align-items: center;
}

.return{
    box-shadow: 3px 4px 0px 0px #91b8b3;
    background: var(--return);
    border-radius:1.2em;
    border:1px solid #566963;
    cursor:pointer;
    padding:7px 25px;
    text-shadow:0px 1px 0px #2b665e;
}





