html, body{
    margin: 0;
    padding: 0;
}

body, header, footer, button,div{
    display: flex;
    flex: 1;
}

img, video{
    width: 100%;
}

.espace{
    flex: 1;
}

.page{
    margin-top: 1.2em;
}

.colonne{
    flex-direction: column;
}

.nomArticle{
    font-size: 1.2em;
    font-weight: bold;
    justify-content: center;
}

.marginLeft{
    margin-left: 0.3em;
}

.bouton1{
    background-color: rgb(47, 218, 47);
}

.bouton2{
    background-color: rgb(218, 207, 47);
}

.bouton3{
    background-color: rgb(218, 67, 47);
}