html, body{
    margin: 0;
    padding: 0;
}

body, header, footer, button,div{
    display: flex;
    flex: 1;
}

img, video{
    width: 100%;
}

.espace{
    flex: 1;
}

center{
    justify-content: center;
}

.page{
    margin-top: 1.2em;
}

.colonne{
    flex-direction: column;
}

.ligne{
    flex-direction: row;
}

.nomArticle{
    font-size: 1.2em;
    font-weight: bold;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
    justify-content: center;
}

.marginLeft{
    margin-left: 0.3em;
}

.nomProduit{
    justify-content: center;
}

.bouton1{
    background-color: rgb(47, 218, 47);
    justify-content: center;
}

.bouton2{
    background-color: rgb(218, 207, 47);
    justify-content: center;
}

.bouton3{
    background-color: rgb(218, 67, 47);
    justify-content: center;
}

.bouton4{
    background-color: rgb(99, 235, 189);
    justify-content: center;
}

.nomProduit{
    border: 1px solid black;
    background-color: rgb(156, 143, 143);
}