html, body{
    margin: 0;
    padding: 0;
}

body, header, div, footer, nav{
    display: flex;
    flex: 1;
}

header{
    justify-content: center;
    background: linear-gradient(#e2dada, #ec865d,#d1561c,#c24b06);
}

.espace{
    flex: 1;
}

.titreHeader{
    flex: 8;
}