Réponse reçue: <br />
<font size='1'>
    <table class='xdebug-error xe-uncaught-exception' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
        <tr>
            <th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Fatal error: Uncaught Error: Call to a member function getIdVille() on array in \\59011VMFIC02.EXCHANGE.AD.AFPANET\59011-DATA\GRP-95\59011-95-06\Projet
                Convention\Conventions\PHP\MODEL\API\SiretAPI.php on line <i>5</i></th>
        </tr>
        <tr>
            <th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Error: Call to a member function getIdVille() on array in \\59011VMFIC02.EXCHANGE.AD.AFPANET\59011-DATA\GRP-95\59011-95-06\Projet Convention\Conventions\PHP\MODEL\API\SiretAPI.php
                on line <i>5</i></th>
        </tr>
        <tr>
            <th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th>
        </tr>
        <tr>
            <th align='center' bgcolor='#eeeeec'>#</th>
            <th align='left' bgcolor='#eeeeec'>Time</th>
            <th align='left' bgcolor='#eeeeec'>Memory</th>
            <th align='left' bgcolor='#eeeeec'>Function</th>
            <th align='left' bgcolor='#eeeeec'>Location</th>
        </tr>
        <tr>
            <td bgcolor='#eeeeec' align='center'>1</td>
            <td bgcolor='#eeeeec' align='center'>0.0001</td>
            <td bgcolor='#eeeeec' align='right'>410176</td>
            <td bgcolor='#eeeeec'>{main}( )</td>
            <td title='\\59011VMFIC02.EXCHANGE.AD.AFPANET\59011-DATA\GRP-95\59011-95-06\Projet Convention\Conventions\Index.php' bgcolor='#eeeeec'>...\Index.php<b>:</b>0</td>
        </tr>
        <tr>
            <td bgcolor='#eeeeec' align='center'>2</td>
            <td bgcolor='#eeeeec' align='center'>0.0115</td>
            <td bgcolor='#eeeeec' align='right'>461512</td>
            <td bgcolor='#eeeeec'>afficherPage( )</td>
            <td title='\\59011VMFIC02.EXCHANGE.AD.AFPANET\59011-DATA\GRP-95\59011-95-06\Projet Convention\Conventions\Index.php' bgcolor='#eeeeec'>...\Index.php<b>:</b>82</td>
        </tr>
        <tr>
            <td bgcolor='#eeeeec' align='center'>3</td>
            <td bgcolor='#eeeeec' align='center'>0.0141</td>
            <td bgcolor='#eeeeec' align='right'>461792</td>
            <td bgcolor='#eeeeec'>include(
                <font color='#00bb00'>'\\59011VMFIC02.EXCHANGE.AD.AFPANET\59011-DATA\GRP-95\59011-95-06\Projet Convention\Conventions\PHP\MODEL\API\SiretAPI.php'</font> )</td>
            <td title='\\59011VMFIC02.EXCHANGE.AD.AFPANET\59011-DATA\GRP-95\59011-95-06\Projet Convention\Conventions\Outils.php'
                bgcolor='#eeeeec'>...\Outils.php<b>:</b>52</td>
        </tr>
    </table>
</font>