html,body{
    margin: 0;
    padding: 0;
}

body,head,footer,div{
    display: flex;
    flex: 1;
}

img{
    width: 100%;
}

.colonne{
    flex-direction: column;
}

.contenu{
    background-color: rgb(33, 189, 189);
}

.espace{
    flex: 1;
}

.miniEspace{
    flex: 0.3;
}

.paddingTop{
    padding-top: 1em;
}
